
@{
    ViewData["Title"] = "Zadanie 1";
}

<h1>Oblicz równanie kwadratowe</h1>



<h2 class="@ViewBag.label">@ViewBag.info</h2>
<h3 class="@ViewBag.labelVal">@ViewBag.x1</h3>
<h3 class="@ViewBag.labelVal">@ViewBag.x2</h3>








