@using System.Linq
@model Lab10v2.Models.Result



<div class="col-md-3">
    <form>
        <div class="form-group">
            <label class="control-label"></label>
            @Html.DropDownListFor(m => m.SelectedCategoryId, Model.Categories,"Select Category", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-20">
                <input type="submit" value="Submit" />
            </div>
        </div>
    </form>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.articles.Last().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.articles.Last().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.articles.Last().Category)
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.articles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <dd class="col-sm-10">
                        <img src="@(item.FilePath)" asp-append-version="true" width="60" />
                    </dd>
                </td>
                <td>
                    <a asp-controller="Articles" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
